<a asp-action="CompleteTask"
   asp-controller="Home"
   class="btn btn-sm btn-success"
   title="Complete Task">
	<i class="bi-check-circle"></i>
</a>
<a asp-action="RejectTask"
   asp-controller="Home"
   class="btn btn-sm btn-danger"
   title="Reject Task">
	<i class="bi-x-circle"></i>
</a>
<a asp-action="CancelTask"
   asp-controller="Home"
   class="btn btn-sm btn-secondary"
   title="Cancel Task">
	<i class="bi-slash-circle"></i>
</a>